body
{
    background-color: rgb(156, 142, 142);
    margin: 0px;
}

header
{
    background-color: rgb(22, 119, 151);
    color: white;
    text-align: center;
    padding: 20px;
}

nav
{
    background-color: rgb(91, 91, 214);
    padding: 20px;
    text-align: center;
}

nav a
{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    background-color: rgb(57, 155, 57);
    padding: 10px;
}

nav a:hover
{
    text-decoration: underline;
    color: aqua;

}

section
{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

footer
{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}